<div fxFill class="slide-in-fwd-center" fxLayout="column" fxLayoutAlign="center center" >
    <span class="select-title text-center"><strong class="bold shocklogic-blue">Onsite</strong>logic</span>
    <button (click)="goToSelfReg()" color="primary" class="width-select-btn btn-select-color" mat-stroked-button>
        <span class="btn-select-text">Launch Selfreg</span>
    </button>
    <button color="primary" class="width-select-btn btn-select-color" mat-stroked-button>
        <span class="btn-select-text">Launch POD</span>
    </button>
    <button color="primary" class="width-select-btn btn-select-color" mat-stroked-button>
        <span class="btn-select-text">Launch Admin</span>
    </button>
</div>