<div fxFill fxLayout="column" fxLayoutAlign="space-between center">
    <div class="width-100 header">
        <mat-toolbar>
            <span class="spacer"></span>
            <span class="shocklogic-dark text-center"><strong class="bold shocklogic-blue">Onsite</strong>logic</span>
            <span class="spacer"></span>
        </mat-toolbar>
        <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content width-100 text-center slide-in-fwd-center" fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="width-75">
            <!--<mat-card-header>
                <mat-card-title class="text-left fs-14">Client Account: </mat-card-title>
                <mat-card-title class="text-left fs-14">User: </mat-card-title>
            </mat-card-header>-->
            <mat-card-content class="width-100" fxLayout="column" fxLayoutAlign="center center">
                <h3 class="shocklogic-font text-dark text-center slide-in-fwd-center">Select Project</h3>
                <div class="width-100" style="overflow-x:auto;">
                    <table>
                        <tr>
                          <th>Project ID</th>
                          <th>Project Name</th>
                        </tr>
                        <tr *ngFor="let project of projects" (click)="selectProject(project.Project)">
                          <td>{{ project.Project }}</td>
                          <td>{{ project.Name }}</td>
                        </tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="footer width-100">
    </div>
<div>