$shocklogic-font: 'Montserrat', sans-serif;

.select-title{ font-size: 36px; margin-bottom: 10px; }

.width-select-btn{ margin-top: 20px; width: 250px; height: 45px; text-align: -webkit-center; }

.btn-select-text{ font-size: 16px; font-family: $shocklogic-font; font-weight: 900; }

.btn-select-color{ background: #eee; color: #222327; }
