<div fxFill fxLayout="column" fxLayoutAlign="space-between center">
    <div class="width-100 header">
        <mat-toolbar>
            <button (click)="goToSelectSetup()" class="ml--15" mat-icon-button>
                <mat-icon>navigate_before</mat-icon>
            </button>
            <span class="spacer"></span>
            <span class="shocklogic-dark text-center"><strong class="bold shocklogic-blue">Onsite</strong>logic</span>
            <span class="spacer"></span>
            <span class="btn-none mr--15"></span>
        </mat-toolbar>
        <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content width-100 text-center slide-in-fwd-center">
        <h4>SELF CHECK-IN</h4>
        <h4 class="mx-20">Please type in your email/registration id or scan your eTicket</h4>
        <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput class="form-control">
        </mat-form-field>
    </div>
    <div class="footer width-100">
    </div>
<div>